.primaryImage {
    width: 70%;
    height: 50%;
  }

  .accordion-item button {
    background-color: #212529;
    color: #fff
  }

  .accordion-body {
    background-color: black;
    color: white;
  }

  .list-group .list-group-item {
    background-color: #212529;
    color: #fff;
  }